organisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="v1.organisation-sync.pure.atira.dk"
           xmlns:commons="v3.commons.pure.atira.dk"
           attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="v1.organisation-sync.pure.atira.dk">

    <xs:import schemaLocation="commons.xsd" namespace="v3.commons.pure.atira.dk" />

    <xs:element name="organisations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="organisation" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<xs:element name="organisation" type="organisation"/>

	<xs:complexType name="organisation">
		<xs:sequence>
			<xs:element name="organisationId" type="commons:string_400" minOccurs="1" />
			<xs:element name="type" type="commons:classification" minOccurs="1" >
				<xs:annotation>
					<xs:documentation>
						The organisation type. Must be a valid classification from the /dk/atira/pure/organisation/organisationtypes classification scheme
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="commons:localized_string" minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="startDate" type="commons:date" minOccurs="1" />
			<xs:element name="endDate" type="commons:date" minOccurs="0" />
			<xs:element name="takenOverBy" type="commons:string_1024" minOccurs="0" />
			<xs:element name="visibility" type="commons:visibility" minOccurs="1" />
			<xs:element name="owner" type="commons:string_1024" minOccurs="0" />
			<xs:element name="parentOrganisationId" type="commons:string_400" minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="nameVariants" type="nameVariants" minOccurs="0" />
			<xs:element name="profileInfos" type="profileInfos" minOccurs="0" />
			<xs:element name="photos" type="photos" minOccurs="0" />
			<xs:element name="phoneNumbers" type="phoneNumbers" minOccurs="0" />
			<xs:element name="emails" type="emails" minOccurs="0" />
			<xs:element name="webAddresses" type="webAddresses" minOccurs="0" />
			<xs:element name="addresses" type="addresses" minOccurs="0" />
			<xs:element name="keywords" type="commons:keywords" minOccurs="0" />
			<xs:element name="ids" type="ids" minOccurs="0" />
			<xs:element name="costCenters" type="costCenters" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:boolean" name="managedInPure" use="optional"/>
	</xs:complexType>

    <xs:complexType name="nameVariants">
		<xs:sequence>
			<xs:element ref="nameVariant" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
    
	<xs:element name="nameVariant">
        <xs:complexType>
			<xs:sequence>
				<xs:element name="type" type="commons:classification">
                    <xs:annotation>
                        <xs:documentation>
                            The name variant type. Must be a valid classification from the /dk/atira/pure/organisation/namevariants classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="name" type="commons:localized_string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
            <xs:attribute type="commons:string_400" name="id" use="optional">
                <xs:annotation>
                    <xs:documentation>Unique ID(across a single content) for the association</xs:documentation>
                </xs:annotation>
            </xs:attribute>
		</xs:complexType>
    </xs:element>

    <xs:complexType name="profileInfos">
        <xs:sequence>
            <xs:element ref="profileInfo" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:element name="profileInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type" type="commons:classification">
                    <xs:annotation>
                        <xs:documentation>
                            The profile information type. Must be a valid classification from the /dk/atira/pure/organisation/customfields classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="profileInfo" type="commons:localized_string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
            <xs:attribute type="commons:string_400" name="id" use="optional">
                <xs:annotation>
                    <xs:documentation>Unique ID(across a single content) for the association</xs:documentation>
                </xs:annotation>
            </xs:attribute>
		</xs:complexType>
	</xs:element>

    <xs:complexType name="photos">
        <xs:sequence>
            <xs:element ref="photo" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

	<xs:element name="photo">
		<xs:complexType>
			<xs:all>
				<xs:element name="type" type="commons:classification">
                    <xs:annotation>
                        <xs:documentation>
                            The photo type. Must be a valid classification from the /dk/atira/pure/organisation/organisationfiles classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="photoValue" type="xs:string"/>
                <!-- Valid values are BYTE, FILE, HTTP-->
				<xs:element name="photoProtocol" type="xs:string"/>
			</xs:all>
            <xs:attribute type="commons:string_400" name="id" use="optional">
                <xs:annotation>
                    <xs:documentation>Unique ID(across a single content) for the association</xs:documentation>
                </xs:annotation>
            </xs:attribute>
		</xs:complexType>
	</xs:element>
	
    <xs:complexType name="phoneNumbers">
        <xs:sequence>
            <xs:element ref="phoneNumber" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:element name="phoneNumber">
		<xs:complexType>
			<xs:all>
				<xs:element name="type" type="commons:classification">
                    <xs:annotation>
                        <xs:documentation>
                            The phonenumber type. Must be a valid classification from the /dk/atira/pure/organisation/organisationphonenumbertype classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="phoneNumber" type="commons:string_64"/>
			</xs:all>
            <xs:attribute type="commons:string_400" name="id" use="optional">
                <xs:annotation>
                    <xs:documentation>Unique ID(across a single content) for the association</xs:documentation>
                </xs:annotation>
            </xs:attribute>
		</xs:complexType>
	</xs:element>

    <xs:complexType name="emails">
        <xs:sequence>
            <xs:element ref="email" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:element name="email">
		<xs:complexType>
			<xs:all>
				<xs:element name="type" type="commons:classification">
                    <xs:annotation>
                        <xs:documentation>
                            The email type. Must be a valid classification from the /dk/atira/pure/organisation/organisationemailtype classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="email" type="commons:string_256"/>
			</xs:all>
            <xs:attribute type="commons:string_400" name="id" use="optional">
                <xs:annotation>
                    <xs:documentation>Unique ID(across a single content) for the association</xs:documentation>
                </xs:annotation>
            </xs:attribute>
		</xs:complexType>
	</xs:element>

    <xs:complexType name="webAddresses">
        <xs:sequence>
            <xs:element ref="webAddress" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:element name="webAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type" type="commons:classification">
                    <xs:annotation>
                        <xs:documentation>
                            The web address type. Must be a valid classification from the /dk/atira/pure/organisation/organisationwebaddresstype classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="webAddress" type="commons:localized_string" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
            <xs:attribute type="commons:string_400" name="id" use="optional">
                <xs:annotation>
                    <xs:documentation>Unique ID(across a single content) for the association</xs:documentation>
                </xs:annotation>
            </xs:attribute>
		</xs:complexType>
	</xs:element>

    <xs:complexType name="addresses">
        <xs:sequence>
            <xs:element ref="address" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="costCenters">
        <xs:annotation>
            <xs:documentation>
                Costcenters can only be synchronised if the Unified Project Model is enabled.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="costCenter" type="commons:classification" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        The costcenter. Must be a valid classification from the /dk/atira/pure/upm/costcenter classification scheme
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

	<xs:element name="address">
		<xs:complexType>
			<xs:all>
				<xs:element name="type" type="commons:classification" minOccurs="1" >
                    <xs:annotation>
                        <xs:documentation>
                            The address type. Must be a valid classification from the /dk/atira/pure/organisation/organisationaddresstype classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="city" type="commons:string_1024" minOccurs="0" />
				<xs:element name="postalCode" type="commons:string_1024" minOccurs="0" />
				<xs:element name="street" type="commons:string_1024" minOccurs="0" />
				<xs:element name="building" type="commons:string_1024" minOccurs="0" />
                <xs:element name="country" type="commons:classification" minOccurs="0" >
                    <xs:annotation>
                        <xs:documentation>
                            The country type. Must be a valid classification from the /dk/atira/pure/core/countries classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="subdivision" type="commons:classification" minOccurs="0" >
                    <xs:annotation>
                        <xs:documentation>
                            The subdivision type. Must be a valid classification from the /dk/atira/pure/core/countries/subdivision classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="geospatialPoint" type="commons:string_512" minOccurs="0" />
				<xs:element name="geospatialPolygon" type="xs:string" minOccurs="0" />
				<xs:element name="displayFormat" type="commons:string_2048" minOccurs="0" />
			</xs:all>
            <xs:attribute type="commons:string_400" name="id" use="optional">
                <xs:annotation>
                    <xs:documentation>Unique ID(across a single content) for the association</xs:documentation>
                </xs:annotation>
            </xs:attribute>
		</xs:complexType>
	</xs:element>

    <xs:complexType name="ids">
        <xs:sequence>
            <xs:element ref="id" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:element name="id">
		<xs:complexType>
			<xs:all>
				<xs:element name="idSource" type="commons:classification">
                    <xs:annotation>
                        <xs:documentation>
                            The id type. Must be a valid classification from the /dk/atira/pure/organisation/organisationsources classification scheme
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="id" type="commons:string_256"/>
			</xs:all>
		</xs:complexType>
	</xs:element>

</xs:schema>